/*

*/

.breadcrumbs {
    &#{&} {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        
        list-style-type: none;
    }
    
        .breadcrumbs__title,
        .breadcrumbs__item {
            margin: 0;
            padding: 0;
        }

        .breadcrumbs__item::before {
            content: "\00a0/"; 
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }
        
            .breadcrumbs__link {
                
            }
}